.main{
    font-family: sans-serif;
    background: rgb(134, 228, 57);
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
.main h1{
    text-align: center;
    margin: 20px 0px 20px 0px;
}